/* Página de inicio */
*{
    font-family: 'Tilt Neon', cursive;
}
body{
    background: url('https://png.pngtree.com/background/20210710/original/pngtree-white-simple-artificial-intelligence-technology-promotion-banner-poster-picture-image_1012751.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
p{
    color: #535353;
}
.container{
    margin-top: 100px;
}
.container div div{
    height: auto;
}

/* Cards */

:root {
    --color-primary: #353741;
    --color-secondary: #4c74f8;
    --color-tertriary: #e4eaf6;

    --color-navy: #294978;
    --color-white: #ffffff;
    --color-grey: #f7f7f7;
}

/* --- BASE STYLES --- */



.project {
    /* min-height: 70rem; */
    margin: 0 auto;
    perspective: 150rem;
    position: relative;
    max-width: 300px;
}

.project__hover-reverse-card--front,
.project__hover-reverse-card--back {

            align-items: center;
 
    border-radius: 5px;

            backface-visibility: hidden;
    color: var(--color-tertriary);

    display: flex;

            justify-content: center;

    font-weight: 800;
    
    
    transition: all 0.8s ease-in-out;
    
}

.project__hover-reverse-card--back {
    color: var(--color-primary);
    position: absolute;
    top: 25%;
    left: 0;
    transform: rotateY(180deg);
    transition: all .8s ease-out;
}

.project:hover .project__hover-reverse-card--front {
            transform: rotateY(-180deg);
}

.project:hover .project__hover-reverse-card--back {
            transform: rotateY(0);
            visibility: visible;
}


/* Footer */
footer{
    margin-bottom: 0;
}


/* Card */

.background-img-card{
    background-image: url("https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=996&t=st=1677266740~exp=1677267340~hmac=80685655cd9871772cb10be0bf9fab3c502b69a44f04a93733a5423f05aa0d71");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:120px !important;
    width: 100%;
    margin-bottom: 50px;
    
}
.background-img-card h2{
    padding: 10px;
    color: #ececec;
}

.secondary-section{
    display: flex;
    gap: 20px;
}

.footer-card{
    position:absolute;
   bottom:0;
   width:100%;
}

.footer-card-customed{
    width:100%;

}

.icon-footer{
    color: #ffffff;
    height: 50px;
    width: 50px;
}

.align-absolute{

}


@media screen and (max-width: 576px) {
    .secondary-section{
        flex-direction: column;
    }

}


.bcrmb{
    padding-top: 70px; 
    padding-left: 10px; 
    margin-bottom: -75px; 
}
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}